{% extends 'base.html' %}
{% block body %}
   <!-------------- Portfolio Section -------------->
    <section id="portfolio">
        <div class="heading-wrapper">
            <div class="heading">
                <h2>Portfolio</h2>
            </div>
            <div class="animate-bar"></div>
            <div class="sub-heading">
                <p>Caso o botão esteja sem hiperlink,  isto significa que o projeto ainda não foi postado no GitHub, portanto, tente novamente em 1 semana.</p>

                <p>Tempo estimado para postar todos os projetos: 2 meses</p>
            </div>
        </div>

        <!-------------- Gallery -------------->
        <div class="gallery-wrapper">
            <div class="gallery-nav">
                <div class="gallery-filter">
                    <span class="filter-item active" data-filter="all">All</span>
                </div>
            </div>
            <div class="content-wrapper">

                <!-- Gallery Item Start -->
                <div class="gallery-item brand" data-aos="fade-right" data-aos-duration="1200">
                    <div class="gallery-item-inner">
                        <img src="https://scontent.fmii8-1.fna.fbcdn.net/v/t39.30808-6/281013253_5007791579337808_5357148642012682286_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeHNnV7qH0a8p701RZ9F4zf9dGFkoRHYDph0YWShEdgOmLG2vMHves2z19Dx6mmBezQZmpGRzAqSMdsQFbmhUSug&_nc_ohc=OO8uqrIs7SkAX-9YNtU&_nc_ht=scontent.fmii8-1.fna&oh=00_AT963alVmPPbGeUnPHCjswWpLg0HOIewlLF9MDpLvsPtKg&oe=62859C89" width="200" height="229" alt="brand">
                        <div class="overlay">
                            <h5>Previsão de Preço Airbnb Nova York</h5>
                            <p>More Info</p>
                        </div>
                    </div>
                </div>
                <!-- Gallery Item End -->

                <!-- Gallery Item Start -->
                <div class="gallery-item design" data-aos="fade-right" data-aos-duration="1200">
                    <div class="gallery-item-inner">
                        <img src="https://scontent.fmii8-1.fna.fbcdn.net/v/t39.30808-6/281249575_5007798122670487_1085041806174091249_n.jpg?_nc_cat=102&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeEuVR7-sKGeX2DCcDEN787Zyjd9EzXyoMTKN30TNfKgxPx9YdqVicehaLtmYpqM_nsCYmQmQNBjKmsZ6igvQZeD&_nc_ohc=Z0DsJkU7ePcAX_tnEmT&_nc_ht=scontent.fmii8-1.fna&oh=00_AT-pq_00RHaTVXHHIflvybPwL3QQTzsEipsvA4g73XiqmA&oe=628461A9" width="200" height="229" alt="design">
                        <div class="overlay">
                            <h5>Convolutional Neural Networks para imagens de frutas</h5>
                            <p>More Info</p>
                        </div>
                    </div>
                </div>
                <!-- Gallery Item End -->

                <!-- Gallery Item Start -->
                <div class="gallery-item brand" data-aos="fade-right" data-aos-duration="1200">
                    <div class="gallery-item-inner">
                        <img src="https://scontent.fmii8-1.fna.fbcdn.net/v/t39.30808-6/281003598_5007813509335615_684257277278113129_n.jpg?_nc_cat=107&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeGoUVhSDds00sDe81pwbcw1hWNnpLOVqLaFY2eks5WotmDDP0E92fv5RQ_JLHrnQ42cuwLXeKeE7khgzri4MUSD&_nc_ohc=oVDKJylllmQAX9OdMAy&_nc_ht=scontent.fmii8-1.fna&oh=00_AT8vjeT-hO-0ShWkpc2Qiuuq6p4TSAu_WI_NYXWIFl3XfA&oe=6284450D" width="200" height="229" alt="brand">
                        <div class="overlay">
                            <h5>Previsão de preços Boston House Prices</h5>
                            <p>More Info</p>
                        </div>
                    </div>
                </div>
                <!-- Gallery Item End -->

                <!-- Gallery Item Start -->
                <div class="gallery-item photos" data-aos="fade-right" data-aos-duration="1200">
                    <div class="gallery-item-inner">
                        <img src="https://scontent.fmii8-1.fna.fbcdn.net/v/t39.30808-6/280761453_5007830576000575_5648443119134502187_n.jpg?_nc_cat=109&ccb=1-6&_nc_sid=730e14&_nc_aid=0&_nc_eui2=AeGdAUAB-crdOcK_y4o5OJ42FxGugjA_hXoXEa6CMD-FerxXWvMEsXWNQPmiFkElvCjW35DVHr1KATkSPmDEyOPa&_nc_ohc=bqh2U-fXjfMAX_wVJqp&_nc_ht=scontent.fmii8-1.fna&oh=00_AT83qxJwF55LVqPhahFB3Wy9vuCmfyp_GYjUZCWzYLiUxg&oe=6285528C" width="200" height="229" alt="photos">
                        <div class="overlay">
                            <h5>Análise de Sentimentos utilizando o Twitter</h5>
                            <p>More Info</p>
                        </div>
                    </div>
                </div>
                <!-- Gallery Item End -->

                <!-- Gallery Item Start -->
                <div class="gallery-item design" data-aos="fade-right" data-aos-duration="1200">
                    <div class="gallery-item-inner">
                        <img src="https://scontent.fmii8-1.fna.fbcdn.net/v/t39.30808-6/281323849_5007851779331788_8402223366828763590_n.jpg?_nc_cat=100&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeEDbBK8ALUk2J-n2BkWdUBMgiujI7kdt8uCK6MjuR23y_1PBdFy3STjXSpA40fpq2OEd-H18wkJaiJN7vGZaySx&_nc_ohc=q9S0mFmwxNIAX8lz4ib&_nc_ht=scontent.fmii8-1.fna&oh=00_AT-Hav55IM4lK-lz5pVquMe_LKgui6ZqVU9c4tRegTUuNA&oe=6284C8A0" width="200" height="229" alt="design">
                        <div class="overlay">
                            <h5>Prevendo fraudes em cartão de crédito</h5>
                            <p>More Info</p>
                        </div>
                    </div>
                </div>
                <!-- Gallery Item End -->

                <!-- Gallery Item Start -->
                <div class="gallery-item photos" data-aos="fade-right" data-aos-duration="1200">
                    <div class="gallery-item-inner">
                        <img src="https://scontent.fmii8-1.fna.fbcdn.net/v/t39.30808-6/281474704_5007866619330304_3328720926928286277_n.jpg?_nc_cat=110&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeEnOO0TxpqryauIm0-WnmvPdljMiLATHPJ2WMyIsBMc8nZKpAWr0xyGfZYHmazbtqTgxkm4s99b-I68urK3lnhw&_nc_ohc=xn7UyB7JIaQAX8QL_Dc&_nc_ht=scontent.fmii8-1.fna&oh=00_AT97x-lQ9XrYkuRUW_Fk3HBeYV2anpKPpwRo44iEvM42Wg&oe=62846C2B" width="200" height="229" alt="photos">
                        <div class="overlay">
                            <h5>Automatizador web para consulta de preços</h5>
                            <button class="btn"><a href="https://github.com/Joaogabs1346/Web-automation" download><p>More Info</p></a></button>
                        </div>
                    </div>
                </div>
                <!-- Gallery Item End -->
            </div>
        </div>

    </section>
{% endblock %}