{% extends 'base.html' %}
{% block body %}
<!-------------- Resume Section -------------->
    <section id="resume">
        <div class="heading-wrapper">
            <div class="heading">
                <h2>Resume</h2>
            </div>
            <div class="animate-bar"></div>
            <div class="sub-heading">
            </div>
        </div>
        <div class="container">

            <!-------------- Experience Part -------------->
            <div class="experience"  data-aos="fade-right" data-aos-duration="1200">
                <div class="title">
                    <h4>Experiência</h4>
                </div>
                <!-- Resume Item Start -->
                <div class="resume-item">
                    <div class="item-arrow"></div>
                    <h5>MerceFerro</h5>
                    <span>Aprendiz | 2016-2017</span>
                    <p>Atendimento ao consumidor e realizava vendas de materiais de construção de construção (vigas, vergalhões, cantoneiras e parafusos).</p>
                </div>
                <div class="resume-item">
                    <div class="item-arrow"></div>
                    <h5>Automação de Processos(RPA-Robotic Process Automation)</h5>
                    <span>FreeLancer</span>
                    <p>Automatizei alguns procedimentos em estabelecimentos de pessoas que eu conheço utilizando pyautogui e selenium. </p>
                </div>
                <!-- Resume Item End -->
            <!-------------- Education Part -------------->
            <div class="education" data-aos="fade-right" data-aos-duration="1200">
                <div class="title">
                    <h4>Educação/Cursos</h4>
                </div>

                <!-- Resume Item Start -->
                <div class="resume-item">
                    <div class="item-arrow"></div>
                    <h5>Big Data e  Inteligência Analítica</h5>
                    <span>Cursando | Inicio:01/2020 | Fim:01/2023 | PUC-PR</span>
                    <p>Graduação ministrado pela Universidade Pontificia catolica do parana.</p>
                </div>
                <div class="resume-item">
                    <div class="item-arrow"></div>
                    <h5>Introduction to Big Data</h5>
                    <span>Curso | University of California San Diego</span>
                    <p> Curso sobre Hadoop, sobre o uso do Big Data no dia a dia e conceitos básicos referente a Big Data</p>
                </div>
                <!-- Resume Item End -->

                <!-- Resume Item Start -->
                <div class="resume-item">
                    <div class="item-arrow"></div>
                    <h5>Python Fundamentos Para Análise de Dados 3.0 (60 Horas)</h5>
                    <span>Curso Online</span>
                    <p>Curso da DSA sobre o uso de python para ciência de dados</p>
                </div>
                <!-- Resume Item End -->
            </div>
        </div>

        <!-------------- Skills Section -------------->
        <section id="skills">
            <div class="heading-wrapper">
                <div class="heading">
                    <h2>Skills</h2>
                </div>
                <div class="animate-bar"></div>
            </div>

            <div class="container">

                <!-- Progress Item Start -->
                <div class="progress-item" data-aos="fade-up" data-aos-duration="1200">
                    <div class="text">
                        <h5>Flask</h5>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-line html"></div>
                    </div>
                </div>
                <!-- Progress Item End -->

                <!-- Progress Item Start -->
                <div class="progress-item" data-aos="fade-up" data-aos-duration="1200">
                    <div class="text">
                        <h5>Pandas</h5>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-line react"></div>
                    </div>
                </div>
                <!-- Progress Item End -->

                <!-- Progress Item Start -->
                <div class="progress-item" data-aos="fade-up" data-aos-duration="1200">
                    <div class="text">
                        <h5>TensorFlow</h5>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-line css"></div>
                    </div>
                </div>
                <!-- Progress Item End -->

                <!-- Progress Item Start -->
                <div class="progress-item" data-aos="fade-up" data-aos-duration="1200">
                    <div class="text">
                        <h5>Scikit learn</h5>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-line js"></div>
                    </div>
                </div>
                <!-- Progress Item End -->

                <!-- Progress Item Start -->
                <div class="progress-item" data-aos="fade-up" data-aos-duration="1200">
                    <div class="text">
                        <h5>Estatística</h5>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-line python"></div>
                    </div>
                </div>
                <!-- Progress Item End -->

                <!-- Progress Item Start -->
                <div class="progress-item" data-aos="fade-up" data-aos-duration="1200">
                    <div class="text">
                        <h5>Web scripting</h5>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-line django"></div>
                    </div>
                </div>
                <!-- Progress Item End -->
            </div>
        </section>
    </section>




{% endblock %}