{% extends 'base.html' %}
{% block body %}
    <!-------------- Services Section -------------->
    <section id="services">
        <div class="heading-wrapper">
            <div class="heading">
                <h2>Meus serviços</h2>
            </div>
            <div class="animate-bar"></div>
            <div class="sub-heading">
                <p>Atualmente faço projetos relacionados a área de Ciência de Dados e Engenharia de Machine Learning/Deep Learning.</p>
            </div>
        </div>
        <div class="container">

            <!-- Service Card Start -->
            <div class="service-card" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="ease-in-out">
                <div class="card-content">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <h5>Web scraping</h5>
                    <p>Coleta de Dados em páginas,redes sociais e Fóruns para coleta de informações/planilhas/dados de todos os tipos/formatos(csv,xlsx...)
                    </p>
                </div>
            </div>
            <!-- Service Card End -->

            <!-- Service Card Start -->
            <div class="service-card"  data-aos="fade-right" data-aos-duration="1200" data-aos-easing="ease-in-out">
                <div class="card-content">
                    <i class="fa-solid fa-pen-ruler"></i>
                    <h5>Ciência de dados</h5>
                    <p>Elaboração de modelos preditivos, visando a resolução/análises de problemas atráves de técnicas estatísticas/modelos de ML</p>
                </div>
            </div>
            <!-- Service Card End -->

            <!-- Service Card Start -->
            <div class="service-card" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="ease-in-out">
                <div class="card-content">
                    <i class="fa-brands fa-pied-piper-square"></i>
                    <h5>Robotic Process Automation (RPA)</h5>
                    <p>Desenvolvimento de automações para planilhas, envio de email, automatização do envio mensagens em todas as redes socais e tarefas do dia a dia em ambientes ERP/WebSites.</p>
                </div>
            </div>
            <!-- Service Card End -->

            <!-- Service Card Start -->
            <div class="service-card" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="ease-in-out">
                <div class="card-content">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <h5>Engenharia  de Machine Learning e Deep Learning</h5>
                    <p>Modelos de ML para aplicação em larga escala com deploy em ambientes cloud. Aprendizado profundo para identificação de imagens com ténicas de CNN (Convolutional Neural Networks).</p>
                </div>
            </div>
        </div>
    </section>



{% endblock %}