{% extends 'base.html' %}
{% block body %}
    <!-------------- About Section -------------->
    <section id="about">
        <div class="container">
            <div class="about-img" data-aos="fade-right" data-aos-duration="1200">
                <img src="https://scontent.fmii8-1.fna.fbcdn.net/v/t39.30808-6/280813696_5007816449335321_9021598725108177535_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeF9d3DZoVZ5uPFAzf9iN_ZGHWuEN8Pg6Xcda4Q3w-Dpd2f2Wflax7trj-fGnNYw4ZE7VZAeSO9MyjD5akskTEac&_nc_ohc=sOKWmuZ48wgAX_oI2B4&_nc_ht=scontent.fmii8-1.fna&oh=00_AT9Z9-87Of893l7aFqxa8aKGKKqsX-gK4dyH8LMqN3GrZw&oe=628562F4" width="200" height="300" alt="">
            </div>
            <div class="text-wrapper" data-aos="fade-right" data-aos-duration="1200">
                <h4>Sobre mim</h4>
                <h5><span>Passionate about Data</span> based in <span>São Paulo</span></h5>
                <p>Meu nome é João Gabriel de Souza Pinto e sou do Interior de São Paulo... Tive meu primeiro contato com programação quando tentei desenvolver um BOT de música para o meu servidor no discord e desde então venho estudando tecnicas/Framework para aprender e melhorar meu conhecimento.</p>
                <div class="about-list">

                    <!-- List Item Start -->
                    <div class="list-item">
                        <label>Aniversario</label>
                        <p>5 de Nov de 2000</p>
                    </div>
                    <!-- List Item End -->

                    <!-- List Item Start -->
                    <div class="list-item">
                        <label>E-mail</label>
                        <p>joao_g2000@hotmail.com</p>
                    </div>
                    <!-- List Item End -->

                    <!-- List Item Start -->
                    <div class="list-item">
                        <label>Idade</label>
                        <p>20 Anos</p>
                    </div>
                    <div class="list-item">
                        <label>Celular</label>
                        <p>(18)997453608</p>
                    </div>
                    <div class="list-item">
                        <label>Discord</label>
                        <p>Gabs#5704</p>
                    </div>

                    <div class="list-item">
                        <label>Endereço</label>
                        <p>São Paulo, BR</p>
                    <!-- List Item End -->
                </div>
                <button class="btn"><a href="https://mega.nz/file/iRIWTQbR#30cBRdGvhDlXG4d4gBI9KI-HW9VNe6cDqoER4rBTsZ4" download>Download CV</a></button>
            </div>
        </div>
    </section>

{% endblock %}